
/Help/en/ColorHCFR_en.chm
/Help/fr/ColorHCFR_fr.chm
*.user
Debug/
Release/
libHCFR/mac project files/build/

*.ncb
*.suo
*.APS
*.pbxuser
*.mode1
*.xcuserdatad/
.DS_Store
*.mode1v3

Tools/libusb1/examples/lsusb_ddkbuild/
Tools/libusb1/examples/xusb_ddkbuild/
Tools/libusb1/libusb/os/*.log
Tools/libusb1/libusb/os/driver/*.log
Tools/libusb1/libusb/os/driver/makefile
Tools/libusb1/libusb/os/driver/objfre_wlh_amd64/
Tools/libusb1/libusb/os/driver/objfre_wxp_x86/
Tools/libusb1/libusb/os/libusb-X.X.def
Tools/libusb1/libusb/os/makefile
Tools/libusb1/libusb/os/objfre_wlh_amd64/
Tools/libusb1/libusb/os/objfre_wxp_x86/
UnitTests/tests.xml


/.vs/ColorHCFR_VS2010/v16/*.db
/.vs/ColorHCFR_VS2010/v16/*.db-shm
/.vs/ColorHCFR_VS2010/v16/*.db-wal
/.vs/ColorHCFR_VS2010/v16
