<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AditionnalFramesPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ColorHCFR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>HCFRPlugins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>IntegratedGeneratorPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KiPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ManualDVDGeneratorPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>VirtualSensorPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02132C330D5DD7AD00475539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>024EB6B90E65476C00FDFB3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02CC41A40DC75F560094B4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02CC41E80DC760F10094B4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02CC43050DC76DAE0094B4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02CC44C00DC896690094B4F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
